.takeQuiz{
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 16px;
    background-color: #283048;
    color: white;
    border: none;
    box-shadow: 2px 3px #859398;
  }
  .cats{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 16px;
    border-radius: 16px;
    width: 300px;
  }
  .category{
    /* display: flex; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  img{
    /* width: 200px; */
    border-radius: 16px;
  }


  /* Responsiveness */
@media screen and (max-width : 620px) {
    .category{
      grid-template-columns: 1fr;
      margin-left: 100px;
    }
    .cats{
      width: 300px;
    }
}

@media screen and (max-width:450px) {
  .category{
    margin-left: 20px;
  }
}